<footer>
    <hr style="margin: 10px 0;">
    <div style="margin: 2em;">
        {% if site.github %}
        <a href="https://github.com/{{site.github}}" class="social" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        {% endif %}
        {% if site.mail %}
        <a href="#" onclick="copyEmailToClipboard(event, '{{site.mail}}')" class="social">
            <i class="fa fa-envelope-o"></i>
        </a>
        {% endif %}
        {% if site.telegram %}
        <a href="{{site.telegram}}" class="social" target="_blank">
            <i class="fa fa-telegram"></i>
        </a>
        {% endif %}
        {% if site.youtube %}
        <a href="{{site.youtube}}" class="social" target="_blank">
            <i class="fa fa-youtube-play"></i>
        </a>
        {% endif %}
        {% if site.rutube %}
        <a href="{{site.rutube}}" class="social" target="_blank">
            <i style="font-size: 1rem; font-weight: 400; font-style: normal;">Rutube</i>
        </a>
        <br>
        {% endif %}
        {% t site.index.department %}, {% t site.index.address %}
        <br>
        &#9400; 2003 –
        <script>document.write(new Date().getFullYear())</script>
        <br>
    </div>
</footer>
