footer {
    font-family: $font-primary;
    font-size: $font-size-small;
    width: 100%;
    color: #777;
    text-align: center;
    margin: 10px 0;
}

a.social {
    text-decoration: none;
    color: inherit;
    font-size: $font-size-footer-icon;
    margin: 2px;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $href-color;
    }
}
