footer {
    width: 100%;
    color: #888;
    text-align: center;
    padding-bottom: 10px;
}

a.social {
    text-decoration: none;
    color: inherit;
    font-size: $font-size-footer-icon;
    margin: 2px;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $href-color;
    }
}
