$lt-width: 768px;
$sm-width: 852px;
$md-width: 1152px;
$lg-width: 1536px;
$xl-width: 1920px;
$qhd-width: 2560px;
$wqhd-width: 3440px;
$uhd-width: 3840px;

$bg-default: #fff;
$href-color: #c42929;

$page-margin: 0.3;

// Font families
$font-primary: "Open Sans", sans-serif;
$font-monospace: ui-monospace, Monaco, monospace;

// Fonts
$font-size-base: 18px;
$font-weight-base: 400;

$font-size-base-large: 1rem;

// Headings
$font-size-h1: 2rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.3rem;
$font-size-h4: 1.1rem;

// Content
$font-size-body: 1rem;
$font-size-small: 0.8rem;
$font-size-name: 1rem;
$font-size-code: 1rem;

// UI elements
$font-size-navbar: 1rem;
$font-size-navbar-icon: 24px;
$font-size-footer-icon: 20px;

// Math display
$font-size-math: 1rem;
